#paginaLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#paginaLogin .card {
  width: 95%;
}

@media (min-width: 600px) {
  #paginaLogin .card {
    width: 60%;
  }
}

@media (min-width: 900px) {
  #paginaLogin .card {
    width: 40%;
  }
}

@media (min-width: 1280px) {
  #paginaLogin .card {
    width: 30%;
  }
}
