:root {
  font-size: 16px;
  --cor-1: #2f3a8f;
  --cor-2: #fe7e6d;
  --sombra: 0 0 0.5rem rgba(12, 16, 39, 0.3);
  --sombra-leve: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ededed;
  gap: 1rem;
}

p,
a,
input,
label,
button,
span {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s color;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form a {
  color: var(--cor-1);
}

form a:hover {
  text-decoration: underline;
}

form .form-ajuda {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

button {
  border: none;
  background-color: var(--cor-1);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 2px solid var(--cor-1);
  cursor: pointer;
  transition: 0.2s background;
}

button:hover {
  color: var(--cor-1);
  background-color: #fff;
  border: 2px solid var(--cor-1);
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 2px #ddd dashed;
  border-radius: 0.1rem;
  transition: 0.2s border;
}

input:focus {
  border: 2px dashed var(--cor-1);
  outline: none;
}

h2 {
  font-size: 1.8rem;
}

header,
footer {
  background: var(--cor-1);
  padding: 1rem;
  color: #fff;
  width: 100%;
  text-align: center;
  box-shadow: var(--sombra);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: "Oleo Script", cursive;
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
}

footer {
  gap: 1.5rem;
}

footer i {
  font-size: 1.3rem;
}

footer .links {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

footer a:hover {
  color: #ddd;
}

.card {
  padding: 1rem;
  background: #fff;
  box-shadow: var(--sombra-leve);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.msg {
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
}

.msg.sucesso {
  background: #00856a;
}

.msg.aviso {
  background: #fba609;
}

.msg.erro {
  background: #b53471;
}

.msg p {
  width: 100%;
  text-align: center;
}

/* Página de login e c adastro */
#paginaLogin,
#paginaCadastro,
#paginaInicial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#paginaLogin .card,
#paginaCadastro .card {
  width: 95%;
}

/* Página inicial */
#paginaInicial {
  gap: 1rem;
}

#paginaInicial .barraAcoes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

#paginaInicial h3 {
  font-size: 1.5rem;
}

#paginaInicial .listas {
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  gap: 1rem;
}

#paginaInicial .listas .card .botoes {
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 600px) {
  #paginaLogin .card,
  #paginaCadastro .card {
    width: 60%;
  }

  #paginaInicial .listas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  #paginaLogin .card,
  #paginaCadastro .card {
    width: 40%;
  }

  #paginaInicial .listas {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  #paginaLogin .card,
  #paginaCadastro .card {
    width: 30%;
  }

  #paginaInicial .listas {
    grid-template-columns: repeat(4, 1fr);
  }
}
